@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  text-decoration: none;
}

.aboutMe {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  align-items: center;

  &__box {
    display: flex;
    margin-bottom: 50px;
    gap: 150px;
    align-items: center;

    &_text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
    &_photo {
      width: 55ch;
      border-radius: 20px;
    }
    &_toPrice {
      text-decoration: none;
      display: inline-block;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1.1;
      font-weight: normal;
      font-family: sans-serif;
      color: #ffffff;
      font-size: large;
      background-color: #050505;
      background-image: -webkit-linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
      background-image: -moz-linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
      background-image: -o-linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
      background-image: linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
      border-color: hsl(0, 0%, 2%);
      -webkit-box-shadow:
        inset 0 0 1px 1px #474747,
        0 0 1px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow:
        inset 0 0 1px 1px #474747,
        0 0 1px 3px rgba(0, 0, 0, 0.15);
      box-shadow:
        inset 0 0 1px 1px #474747,
        0 0 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-text-shadow: 1px 1px 1px #000;
      -moz-text-shadow: 1px 1px 1px #000;
      -o-text-shadow: 1px 1px 1px #000;
      text-shadow: 1px 1px 1px #000;
      -webkit-border-radius: 21px;
      -moz-border-radius: 21px;
      border-radius: 21px;
      padding: 14.399999999999999px 36px 14.399999999999999px 36px;
    }
    &_toPrice:hover {
      color: #ffffff;
      background-color: #0d0d0d;
      background-image: -webkit-linear-gradient(to top, #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
      background-image: -moz-linear-gradient("to top", #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
      background-image: -o-linear-gradient("to top", #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
      background-image: linear-gradient("to top", #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
      border-color: hsl(0, 0%, 5%);
      -webkit-box-shadow:
        inset 0 0 1px 1px #4d4d4d,
        0 0 1px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow:
        inset 0 0 1px 1px #4d4d4d,
        0 0 1px 3px rgba(0, 0, 0, 0.15);
      box-shadow:
        inset 0 0 1px 1px #4d4d4d,
        0 0 1px 3px rgba(0, 0, 0, 0.15);
      -webkit-text-shadow: 1px 1px 1px #000;
      -moz-text-shadow: 1px 1px 1px #000;
      -o-text-shadow: 1px 1px 1px #000;
      text-shadow: 1px 1px 1px #000;
    }

    &_toPrice:active {
      color: #ffffff;
      background-color: #000;
      background-image: -webkit-linear-gradient("to top", #000 0%, #050505 100%);
      background-image: -moz-linear-gradient("to top", #000 0%, #050505 100%);
      background-image: -o-linear-gradient("to top", #000 0%, #050505 100%);
      background-image: linear-gradient("to top", #000 0%, #050505 100%);
      padding: 15.399999999999999px 36px 13.399999999999999px 36px;
    }
  }

  &__inspiration {
    text-align: center;
    width: 740px;
    padding-bottom: 20px;
  }
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.BtnToPortfolio {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #ffffff;
  font-size: large;
  background-color: #050505;
  background-image: -webkit-linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
  background-image: -moz-linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
  background-image: -o-linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
  background-image: linear-gradient("to top", #080808 0%, #191919 48%, #050505 49%, #050505 82%, #131313 100%);
  border-color: hsl(0, 0%, 2%);
  -webkit-box-shadow:
    inset 0 0 1px 1px #474747,
    0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:
    inset 0 0 1px 1px #474747,
    0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow:
    inset 0 0 1px 1px #474747,
    0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  -o-text-shadow: 1px 1px 1px #000;
  text-shadow: 1px 1px 1px #000;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  padding: 14.399999999999999px 36px 14.399999999999999px 36px;
  &_center {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
}
.BtnToPortfolio:hover {
  color: #ffffff;
  background-color: #0d0d0d;
  background-image: -webkit-linear-gradient(to top, #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
  background-image: -moz-linear-gradient("to top", #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
  background-image: -o-linear-gradient("to top", #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
  background-image: linear-gradient("to top", #101010 0%, #212121 48%, #0d0d0d 49%, #0d0d0d 82%, #1b1b1b 100%);
  border-color: hsl(0, 0%, 5%);
  -webkit-box-shadow:
    inset 0 0 1px 1px #4d4d4d,
    0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:
    inset 0 0 1px 1px #4d4d4d,
    0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow:
    inset 0 0 1px 1px #4d4d4d,
    0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  -o-text-shadow: 1px 1px 1px #000;
  text-shadow: 1px 1px 1px #000;
}
.BtnToPortfolio:active {
  color: #ffffff;
  background-color: #000;
  background-image: -webkit-linear-gradient("to top", #000 0%, #050505 100%);
  background-image: -moz-linear-gradient("to top", #000 0%, #050505 100%);
  background-image: -o-linear-gradient("to top", #000 0%, #050505 100%);
  background-image: linear-gradient("to top", #000 0%, #050505 100%);
  padding: 15.399999999999999px 36px 13.399999999999999px 36px;
}

.questions {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

  gap: 100px;

  &__photo {
    width: 455.662px;
    height: 256.663px;
  }

  &__box {
    width: 558.8px;
    min-height: 276px;
    display: flex;
    flex-direction: column;

    &_question {
      min-height: 50px;
      width: 558.8px;
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      border-bottom: 1px solid #545353;
      padding-top: 10px;
      padding-bottom: 15px;

      &_button {
        text-align: left;
        display: flex;
        gap: 330px;
        border: none;
        background-color: #f7f7f7;
        cursor: pointer;
        font-size: larger;
      }

      &_text {
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        &_link {
          text-decoration: none;
          color: black;
          font-weight: bold;
          font-size: large;
        }
      }
    }
    &_question:first-child{
      padding-top: 0px;
    }
    &_question:last-child {
      border: none;
    }
  }
}

//расположение стрелок в вопросе
.arrowPlace1 {
  display: flex;
  gap: 237px;
}
.arrowPlace2 {
  display: flex;
  gap: 242px;
}
.arrowPlace3 {
  display: flex;
  gap: 309px;
}
.arrowPlace4 {
  display: flex;
  gap: 262px;
}

// открытие и закрытие вопросов
.close {
  display: none;
}
.open {
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 0.1s; /*Скорость перехода состояния элемента*/
  animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.1s; /* Задержка перед началом */
}
