.theHeader {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 55;
  background-color: rgb(255, 255, 255, 0.1);
  height: 6vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  &__link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Arial", sans-serif;

    &_active {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      font-weight: 500;
      font-family: "Arial", sans-serif;
      border-bottom: black 2px solid;
    }
    &_active:hover {
      cursor: default;
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
  }
  &__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0); /* Начинается с 0 */
    transform-origin: center; /* Ключевая строка! */
    transition: transform 0.4s ease;
  }
  &__link:hover::after {
    transform: scaleX(1); /* Расширяется от центра */
  }
}
