.albums {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__map {
    min-width: 360px;
    display: flex;
    flex-direction: column;
  }
  &__image {
    // width: 400px;
    height: 600px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
    -moz-box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
    box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
  }
  &__title {
    text-align: center;
    color: black;
    max-width: 400px;
  }
  &__about {
    text-align: center;
    color: black;
  }
}
