/* @keyframes show {
    0% {
        opacity: 0.7;
    }

  

    100% {
        opacity: 1;
    }
} */

.baner {
    /* background-position: center; */
    background-size: Cover;
    width: 100%;
    height: 900px;
    object-fit: cover;
    /* animation-duration: 5.01s;
    animation-name: show;
    animation-iteration-count: infinite; */




}