* {
  text-decoration: none;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-top: 30px;
  gap: 40px;
  &__messengers {
    display: flex;
    gap: 15px;
  }
  &__general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
