* {
  text-decoration: none;
}
.footer {
  background-color: aliceblue;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
  
  gap: 40px;
  &__messengers {
    display: flex;
    gap: 15px;
  }
  &__general {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
