.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  &__about {
    margin-top: 20px;
  }
  &__conditions {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 20px;
    }

    &__working–°onditions {
      &_text {
        width: 600px;
        margin-top: 10px;
        &_link {
          color: black;
          font-weight: 700;
          padding-left: 7px;
        }
        &_fat {
          font-weight: 700;
        }
      }
    }
  }
  &__theOrderOfWork {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 60px;

    &__box {
      width: 300px;

      &__title {
        color: #656565;
        font-weight: inherit;
        font-size: clamp(1rem, 0.8rem + 1vw, 2rem);

        font-family: emoji;
      }
      &__text {
        margin-top: 25px;
      }
    }
  }
  &__cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 60px;

    &__box {
      width: 500px;
      &__img {
        width: 500px;
        height: 500px;
        object-fit: cover;
      }
      &__title{
        margin-top: 20px;
      }
      &__shooterCost{
        margin-top: 20px;
        font-weight: 700;
      }

      &__text{
        margin-top: 25px

      }
      &__list{
        margin-top: 10px;

        &__text{
            margin-top: 10px;
            margin-left: 17px;
        }
      }
    }
  }
}
