.ShowPhotosession {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 30px;
    text-align: center;
  }
  &__box {
    
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;

    

    &_image {
    border-radius: 20px;
      width: 400px;
      -webkit-box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
-moz-box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
      
    }

    &_title {
      padding-top: 5px;
      width: 400px;
      text-align: center;
      color: black;
    }
  }
}
