.contacts {
  padding-top: 10vh;
  min-height: 65vh;

  &__howToContact {
    display: flex;
    flex-direction: column;
    align-items: center;

    // height: 407px;

    &_title {
    }
    &__text {
      margin-top: 3vh;
      max-width: 60vh;
      text-align: center;
    }
    &__phone {
      margin-top: 2vh;
      color: black;
      font-family: "Times New Roman", Times, serif;
      font-size: 30px;
      font-style: italic;
    }

    &__messengers {
      margin-top: 1vh;
      display: flex;
      justify-content: space-around;
      gap: 2vh;
    }
  }
  &__greeting {
    background-color: #f7f7f7;
    padding-top: 4vh;
    padding-bottom: 4vh;

    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5vh;
    &__box {
      max-width: 40vh;
      &__title {
      }

      &__text {
        margin-top: 2vh;
        text-align: center;
      }
    }
  }
}
@media (min-height: 931px) {
  .contacts {
    min-height: 64.9vh;
  }
}
// @media (min-height: 943px) {
//   .contacts {
//     height: 65.9vh;
//   }
// }
@media (min-height: 1434px) {
  .contacts {
    min-height: 67.4vh;
  }
}
@media (min-height: 1434px) {
  .contacts {
    min-height: 67.9vh;
  }
}
