.portfolio {
  margin-top: 50px;
  margin-bottom: 60px;
  &__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
  }
  &__albums {
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    &__map {
      min-width: 360px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image {
      width: 500px;
      height: 700px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
-moz-box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
box-shadow: 0px 0px 9px 8px rgba(3, 13, 21, 0.3);
    }
    &__title {
    margin-top: 15px;
      text-align: center;
      color: black;
      
    }
    &__about {
      text-align: center;
      color: black;
    }
  }
}
